# # Dependencies
# /node_modules
# /.pnp
# .pnp.js

# # Testing
# /coverage

# /.next/
# /out/

# # Production
# /build

# # Misc
# .DS_Store
# *.pem

# # Debug
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*

# # Local env files
# .env*.local
# .env

# # Vercel
# .vercel

# # Typescript
# *.tsbuildinfo
# next-env.d.ts

# # PWA
# /public/sw.js
# /public/workbox-*.js
# /public/sw.js.map
# /public/workbox-*.js.map

# # IDE
# .vscode/
# .idea/

# # Secrets
# Secrets.js


backend/node_modules
backend/src-old
backend-err
backend-old-stuff
backend/.strapi
backend/.strapi-updater.json
backend/build
backend/.env
backend/config-old

yarn-error.log

# testing
/coverage

admin/Secrets.js
admin/mvp-and-mmp-features.txt
admin/logic.txt
yarn-error.log


# dependencies
admin/node_modules
admin/.pnp
admin/.pnp.js
admin/.yarn/install-state.gz


# testing
/coverage

# next.js
admin/.next/
admin/out/

# production
admin/build

# misc
admin/.DS_Store
admin/*.pem

# debug
admin/npm-debug.log*
admin/yarn-debug.log*
admin/yarn-error.log*
bugslog.txt
# local env files
admin/.env*.local

# vercel
admin/.vercel

# typescript
admin/*.tsbuildinfo
admin/next-env.d.ts
frontend/Secrets.js
frontend/mvp-and-mmp-features.txt
frontend/logic.txt
yarn-error.log


# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz


# testing
/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
bugslog.txt
# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

