
# Server
HOST=0.0.0.0
PORT=1357

# Secrets
APP_KEYS=5y8R+luWf+tnisTn3Dj75w==,Z51HwwtcfqB8ojto2HmxUQ==,CkqMOkwK91T8YWl/ptTWKA==,Gz+QTufun/5pM2qOWvDllw==
API_TOKEN_SALT=dEzmJBPN1MxNA9KcbNN6vw==
ADMIN_JWT_SECRET=xqRO/IqZ/1tTpWB4+1KziQ==
JWT_SECRET=qt4LNPX+VhIHIrmXEhLZCQ==
TRANSFER_TOKEN_SALT=n3XstpcEFavvzk82iKyAGw==
ENCRYPTION_KEY=mdoGz19n23wYfIZ9yiKlCg==

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=smartmenuai
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=replace_with_database_password
DATABASE_SSL=false
DATABASE_FILENAME=
EXCHANGE_RATE_API_KEY=
SOCKET_SERVER_URL=http://localhost:4000
STRAPI_SOCKET_SECRET=
PAWAPAY_API_TOKEN=
PAWAPAY_BASE_URL=https://api.pawapay.io
PAWAPAY_WEBHOOK_SECRET=
LENCO_SECRET_KEY=
LENCO_ACCOUNT_ID=
SMSGATEWAYURL=http://localhost:3006
SMSGATEWAYAPIKEY=
SMSGATEWAYAPIUSERNAME=
SMSGATEWAYAPICALLERID=
SOCKET_INTERNAL_TOKEN=replace-with-the-same-long-random-value-as-sockets