<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="expo.modules.drawover">
    
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    
    <application>
        <service
            android:name=".FloatingBubbleService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"/>
    </application>
</manifest>